<!doctype html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="row" style="padding-top:75px; padding-bottom:50px;">
        <div class="col-sm">
          <h1>Which clip expresses <span class="to-be-considered">Joy</span>?</h1>
        </div>
      </div>
      <div class="row" style="text-align:center;">
        <div class="col-sm" id="vid1">
          <video style="width:100%; height:auto;" controls controlsList="nodownload nofullscreen noremoteplayback">
            <source src="http://um-bubble.media.mit.edu:10022/static/1523466581748.97751228-7a1b-49a8-9534-515fc648247b.mp4#t=5,28" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <!-- <img src="https://picsum.photos/800/450" width="100%"/> -->
          <button id="one" type="button" class="btn btn-primary mt-2 mb-4">This</button>
        </div>
        <div class="col-sm" id="vid2">
          <video style="width:100%; height:auto;" controls controlsList="nodownload nofullscreen noremoteplayback">
            <source src="http://um-bubble.media.mit.edu:10022/static/1523412675524.http-um-bubble-media-mit-edu-10022-static-1523403041741-5c186ad9-bae9-4543-b536-63a2fc1cd2f1-mp4_nocom.mp4#t=523,546" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <!-- <img src="https://picsum.photos/800/450" width="100%"/> -->
          <button id="two" type="button" class="btn btn-primary mt-2 mb-4">This</button>
        </div>
      </div>
      <div class="row" style="text-align:center;">
        <div class="col-md">
          <button id="three" type="button" class="btn btn-warning mt-2 mb-4">Neither</button>
        </div>
      </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <script>

    // TODO jquery ajax query api url for tournament type and particpants
    /* retrival json
    {
      tournament_id: "", // emotion toConsider ["Relief", "Joy", "Excitement", "Wonder", "Dislike", "Loathing", "Nervousness", "Desperation", "Panic", "Fury", "Frustration", "Exasperation", "Disappointment", "Hopelessness", "Grief", "Agitated", "Calm"]
      match_id: "", // purpose is to maintain match integrity and avoid duplication
      particpants: [
        {
          _id: "5579df022d363d3cc9d96bd9"
          videoUrl: "",
        },{...}
      ]
    }
 */

      var current_match = '0';

      $('button').click((e) => {
        console.log('POST about '+e.target.id +' winning XYZ tournament, and include loser and not rankings (too easy to troll)');
        var win_id = 0;
        var lose_id = 0;
        switch (e.target.id) {
          case 'one':
          win_id = $('#vid1').attr('name');
          lose_id = $('#vid2').attr('name');
          break;
          case 'two':
          win_id = $('#vid2').attr('name');
          lose_id = $('#vid1').attr('name');
          break;
        }
        var obj = {
          'tournament_id': $('.to-be-considered').text(),
          'match_id': current_match,
          'win_id': win_id,
          'lose_id': lose_id
        }
        console.log(obj);
        $.ajax({
          url: '/record',
          data: JSON.stringify(obj),
          type: 'POST',
          headers: {'Content-Type': 'application/json; charset=utf-8'},
          success: (data) => {console.log(data); replace_vids(data); }
        });
        //replace_vids(get_match());
      });

      var get_match = () => {
        //TODO deactive button on click. .class & e.replace//interrupt
        // below is filler code
        var videoMatches = [
          "http://um-bubble.media.mit.edu:10022/static/1523404819916.http-um-bubble-media-mit-edu-10022-static-1523401236092-9ea6f6f6-c838-45de-8dce-72ed8ae02ba3-mp4_nocom.mp4#t=1031,1054",
          "http://um-bubble.media.mit.edu:10022/static/1523465136895.5b67ac90-d9f1-494d-9ebc-65fae5458daf.mp4#t=863,886",
          "http://um-bubble.media.mit.edu:10022/static/1523458789994.http-um-bubble-media-mit-edu-10022-static-1523451617858-58b3fb41-ceca-4cad-a29f-fc7586ca779b-mp4_nocom.mp4#t=119,142",
          "http://um-bubble.media.mit.edu:10022/static/1523460719539.0481da84-48db-4cd6-aa99-d67cac28b418.mp4#t=6,29",
          "http://um-bubble.media.mit.edu:10022/static/1523418962483.http-um-bubble-media-mit-edu-10022-static-1523417414283-4c1e3933-b142-417b-88cc-9576195f7dbc-mp4_nocom.mp4#t=206,229",
          "http://um-bubble.media.mit.edu:10022/static/1523423636388.http-um-bubble-media-mit-edu-10022-static-1523421041389-aa5d65af-876e-4042-8996-b839e995c95d-mp4_nocom.mp4#t=829,852",
          "http://um-bubble.media.mit.edu:10022/static/1523260159365.http-um-bubble-media-mit-edu-10022-static-1523255934329-7496ccec-caf7-418c-b79c-ca45bbd283ea-mp4_nocom.mp4#t=758,781",
          "http://um-bubble.media.mit.edu:10022/static/1523271422272.f3cd2708-341a-41fc-b56f-a3f8c5927fcf.mp4#t=1196,1219",
          "http://um-bubble.media.mit.edu:10022/static/1523262433366.b9b47a1a-4f45-4aff-8fd0-b2c149242a1a.mp4#t=11,34",
          "http://um-bubble.media.mit.edu:10022/static/1523211467792.9b4cdc65-5e3a-4581-96c8-a9c2d6a8404b.mp4#t=487,510",
          "http://um-bubble.media.mit.edu:10022/static/1522969033756.373b7035-8e55-443f-984b-8219ff8dd2ef.mp4#t=0,10",
          "http://um-bubble.media.mit.edu:10022/static/1523021235932.4c04a18f-491b-48a5-b7c4-97b5f71d5895.mp4#t=0,10",
          "http://um-bubble.media.mit.edu:10022/static/1522996513264.bc48a12c-0af7-4eae-aa72-06281e7a0fcb.mp4#t=377,400",
          "http://um-bubble.media.mit.edu:10022/static/1523018768188.http-um-bubble-media-mit-edu-10022-static-1523014202988-001d2629-4a77-4e81-8a44-4f83851b562f-mp4_nocom.mp4#t=1067,1090",
          "http://um-bubble.media.mit.edu:10022/static/1523412675524.http-um-bubble-media-mit-edu-10022-static-1523403041741-5c186ad9-bae9-4543-b536-63a2fc1cd2f1-mp4_nocom.mp4#t=523,546",
          "http://um-bubble.media.mit.edu:10022/static/1523412675524.http-um-bubble-media-mit-edu-10022-static-1523403041741-5c186ad9-bae9-4543-b536-63a2fc1cd2f1-mp4_nocom.mp4#t=776,799"
        ]

        /*
        var videoMatches = [
          "https://youtu.be/nTII0cyUbQo?t=37s",
          "https://youtu.be/nTII0cyUbQo?t=1m24s"
        ]
        */

        do {
          rand1 = Math.floor(Math.random() * videoMatches.length);
          rand2 = Math.floor(Math.random() * videoMatches.length);
        }
        while(rand1 == rand2);

        toConsider = ["Relief", "Joy", "Excitement", "Wonder", "Dislike", "Loathing", "Nervousness", "Desperation", "Panic", "Fury", "Frustration", "Exasperation", "Disappointment", "Hopelessness", "Grief", "Agitation", "Calm"]
        // human emotional response to video, what emotions do networks project, Geshtalt way of looking at things, VGG model

        var obj = {
          tournament_id: toConsider[Math.floor(Math.random() * toConsider.length)],
          match_id: Math.floor(Math.random() * 100).toString(),
          participants: [
            {
              _id: rand1,
              videoUrl: videoMatches[rand1]
            },
            {
              _id: rand2,
              videoUrl: videoMatches[rand2]
            }
          ]
        }

        return JSON.stringify(obj)
      }

      var replace_vids = (data) => {
        var obj = JSON.parse(data);
        $('.to-be-considered').text(obj['tournament_id']);
        $('#vid1 video source').attr('src', obj['participants'][0]['videoUrl']);
        $('#vid2 video source').attr('src', obj['participants'][1]['videoUrl']);
        $('#vid1').attr('name', obj['participants'][0]['_id'])
        $('#vid2').attr('name', obj['participants'][1]['_id'])
        $("#vid1 video")[0].load();
        $("#vid2 video")[0].load();
        current_match = obj['match_id'];
      };

      replace_vids(get_match());
    </script>

  </body>
  </html>
